<div class="container">
  <h1 align="center">내정보</h1>
  <!-- Trigger the modal with a button --> 
  <div>
</div>

<div class="row">
  <div class="form-group">
   <label for="name">이름:</label>
   <input type="text" class="form-control" ng-model="businessInfo.name">
  </div>
  <div class="form-group">
   <label for="context">설명:</label>
   <input type="text"  class="form-control" ng-model="businessInfo.context"> 
  </div>
  <div class="form-group">
   <label for="business_state">전화번호:</label>
   <input type="text" class="form-control" ng-model="businessInfo.hpno"> </input>
  </div>
  <div class="form-group">
   <label for="business_state">snsid:</label>
   <input type="text" class="form-control" ng-model="businessInfo.snsid"> </input>
  </div>
  <button type="button" class="btn btn-warning" 
  ng-click="modifyUserInfo(businessInfo.businessid, businessInfo.name, businessInfo.context, businessInfo.hpno, businessInfo.snsid, 1)">변경하기</button>
</div>

